<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="static/material.indigo-purple.min.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--DEV-->
    <link rel="stylesheet" href="dev/material.indigo-purple.min.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class=mdl-layout-title>Chat room</span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Users</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link">Link</a>
            <a class="mdl-navigation__link">Link</a>
            <a class="mdl-navigation__link">Link</a>
            <a class="mdl-navigation__link">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here --></div>
    </main>
</div>
<!--<script src="static/jquery.js"></script>-->
<!--<script src="static/material.js"></script>-->
<!--<script src="static/frontend.js"></script>-->
<!--DEV-->
<script src="dev/jquery.js"></script>
<script src="dev/material.js"></script>
<script src="frontend.js"></script>
</body>
</html>